<% @forecast.each do |hourly| %>
  <div class='weather_fore'>
    <%= hourly["date_time"] %>
    <%= hourly["temp"] %>
    <%= hourly["dewpoint"] %>
    <%= hourly["humidity"] %>
    <%= hourly["pop"] %>
    <%= hourly["precip"] %>
    <%= hourly["pressure"] %>
    <%= hourly["weather"] %>
    <%= hourly["visibility"] %>
    <%= hourly["icon"] %>
  </div>
  <div class='wind_fore'>
    <%= hourly["wind_direction"] %>
    <%= hourly["wind_speed"] %>
    <%= hourly["wind_gusts"] %>
  </div>
<% end %>
