<h1>Hourly Predictions</h1>
<% @forecast.each do |hourly| %>
  <div class='weather_fore'>
    <%= "Time: #{hourly["date_time"]}" %><br/>
    <%= "Forecast: #{hourly["weather"]}" %><br/>
    <%= "Temperature: #{hourly["temp"]} Degrees Farenheit" %><br/>
    <%= "Dewpoint:' #{hourly["dewpoint"]} Degrees" %><br/>
    <%= "Humidity: #{hourly["humidity"]}" %><br/>
    <%= "Probability of Precipitation: #{hourly["pop"]} %" %><br/>
    <%= "Precipitation: #{hourly["precip"]} In" %><br/>
    <%= "Barometric Pressure: #{hourly["pressure"]}" %><br/>
    <%= "Visibility: #{hourly["visibility"]} Nautical Miles" %><br/>
    <%= image_tag hourly["icon"] %><br/>
  </div>
  <div class='wind_fore'>
    <h2>Wind Predictions</h2>
    <%= "Direction: #{hourly["wind_direction"]}" %><br/>
    <%= "Speed: #{hourly["wind_speed"]} Knots" %><br/>
    <%= "Gusts: #{hourly["wind_gusts"]} Knots" %><br/>
  </div>
<% end %>
