<div class='forecast_header1'>
  <h2>Hourly Forecast</h2>
</div>
<div class='forecast_header2'>
  <h2>
    <%= session[:city] + ", " + session[:state] %>
  </h2>
</div>
<div class='forecast'>
  <% @forecast.each do |hourly| %>
    <div class='container'>
      <%= image_tag hourly["icon"] %>
      <div class='weather_fore'>
        <%= hourly["time"] %><br/>
        <%= "#{hourly["weather"]}" %><br/>
        <%= "Temperature: #{hourly["temp"]}" %>&#8457;<br/>
        <%= "Feels Like: #{hourly["feels_like"]}" %>&#8457;<br/>
        <% if hourly["dewpoint"] %>
          <%= "Dewpoint:' #{hourly["dewpoint"]}" %>&#8457;<br/>
        <% end %>
        <%= "Humidity: #{hourly["humidity"]}" %>&#8457;<br/><br/>
      </div>
      <div class='wind_fore'>
        <% if hourly["pop"] %>
          <%= "Probability of Precipitation: #{hourly["pop"]}%" %><br/>
        <% end %>
        <%= "Barometric Pressure: #{hourly["pressure"]} MB" %><br/>
        <%= "Visibility: #{hourly["visibility"]} Meters" %><br/>
        <%= "Wind Speed: #{hourly["wind_speed"]} KTS" %><br/>
        <%= "Direction: #{hourly["wind_deg"]} Deg" %><br/><br/>
      </div>
    </div>
  <% end %>
</div>
