<div class='shops'>
  <div class='container'>
    <h6>Profile Info</h6>
    <%= current_user.user_name %></br>
    <%= current_user.first_name %>
    <%= current_user.last_name %></br>
    <%= current_user.email %></br>
    <%= current_user.zip %></br>
    <%= link_to 'Edit Profile', user_edit_path %></br>
    <% if current_user.reviews %>
      <% current_user.reviews.each do |review| %>
        <%= review.store.name %></br>
        <%= review.comment %></br>
        Rating: <%= review.rating %></br>
        <%= review.created_at %>
        <%= link_to "Delete Review", "/store/#{review.store.id}/review/#{review.id}", method: 'delete' %></br>
      <% end %>
    <% end %>
  </div>
</div>
