<!DOCTYPE html>
<html>
  <head>
    <title>Poseidon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <ul class = "topnav">
      <li class="right"><%= link_to "Tides", '/tides' %></li>
      <li class="right"><%= link_to "Forecast", '/forecast' %></li>
      <li class="right"><%= link_to "Fly Shops", '/fly' %></li>
      <li class="right"><%= link_to 'Bait & Tackle', '/bait' %></li>
      <li class="right"><%= link_to "Tournament Info", '/tournament' %></li>
      <li class="right"><%= link_to "Local Fishing Tips", '/tips' %></li>
      <li class="right"><%= link_to "Home", '/' %></li>
    </ul>

  <% flash.each do |name, msg| %>
  <div class= "<%=name%>-flash">
   <p><%= msg %></p>
  </div>
  <% end %>

    <%= yield %>
  </body>
</html>
